<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="DB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\C#\elecdnevnik\elecdnevnik\Database2.mdf;Integrated Security=True" />
  <add name="elecdnevnik.Properties.Settings.Database2ConnectionString"
   connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True;Connect Timeout=30"
   providerName="System.Data.SqlClient" />
  <add name="elecdnevnik.Properties.Settings.DatabaseConnectionString"
   connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\bin\Debug\Database.mdf;Integrated Security=True;Connect Timeout=30"
   providerName="System.Data.SqlClient" />
  <add name="elecdnevnik.Properties.Settings.DataBaseConn" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\redmi\source\Repos\elecdnevnik\Database.mdf;Integrated Security=True;Connect Timeout=30"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>